header {
	text-align: center;
}

body {
	width: 980px;
	margin: 0 auto;

	background-color: #f7f7f7;
	color: #333333;
	font: 1em Arial;
}

.main-info{
	display: flex;
	height: 199px;
	align-items: center;
	font-weight: bold;
	margin-top: 15px;
}

.main-info img {
	margin-right: 15px;
}

.personal-info p:first-child {
	margin-top: 0;
}

.personal-info p:last-child {
	margin-bottom: 0;
}

.bold {
	font-weight: bold;

}

.first-column {
	vertical-align: top; 
	width: 188px;
}
