header {
	text-align: center;
}

body {
	width: 980px;
	margin: 0 auto;

	background-color: #f7f7f7;
	color: #333333;
	font: 1em Arial;
}

.mainInfo{
	display: flex;
	height: 210px;
	align-items: flex-end;
}

.mainInfo img {
	padding-right: 16px;
}

.bold {
	font-weight: bold;
}

.first-column {
	vertical-align: top; 
	width: 188px;
}
