header {
	text-align: center;
}

body {
	width: 980px;
	margin: 0 auto;

	background-color: #f7f7f7;
	color: #333333;
}

.mainInfo{
	height: 199px;
	font-weight: bold;
}

.mainInfo img {
	float: left;
	padding-right: 10px;
}
